

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div>
  Liste eleves
  {%for i in options%}
<a href="{{ path('app_option/{$i}') }}"> Liste des options $i </a><br>
{% end %}
{% endblock %}

