

{% block title %}Resultat!{% endblock %}

{% block body %}
{%if a.option === 'A'%}
<div>
  Liste option A
<a href="{{ path('app_option') }}"> Liste des options A </a><br>
{else}
  Liste Option B
<a href="{{ path('app_option') }}"> liste des options B </a>
{% endblock %}

